# Importing the libraries

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [ ]:
tf.__version__

'2.2.0'

# Data preprocessing

## Importing the dataset

In [ ]:
df = pd.read_csv('Churn_Modelling.csv')

In [ ]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
X = df.iloc[:, 3:-1].values
y = df.iloc[:, -1].values

## Encoding categorical data

### Label encoding the gender column

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])
pd.DataFrame(X).head()

     0       1  2   3  4        5  6  7  8        9
0  619  France  0  42  2        0  1  1  1   101349
1  608   Spain  0  41  1  83807.9  1  0  1   112543
2  502  France  0  42  8   159661  3  1  0   113932
3  699  France  0  39  1        0  2  0  0  93826.6
4  850   Spain  0  43  2   125511  1  1  1  79084.1

### One hot encoding the geography column

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [1])], remainder = 'passthrough')
X = np.array(ct.fit_transform(X))

In [ ]:
pd.DataFrame(X).head()

   0  1  2    3  4   5  6        7  8  9 10       11
0  1  0  0  619  0  42  2        0  1  1  1   101349
1  0  0  1  608  0  41  1  83807.9  1  0  1   112543
2  1  0  0  502  0  42  8   159661  3  1  0   113932
3  1  0  0  699  0  39  1        0  2  0  0  93826.6
4  0  0  1  850  0  43  2   125511  1  1  1  79084.1

## Splitting the dataset into training set and test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size = 0.2, random_state = 0)

## Feature scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Creating the ANN

## Initialising the ANN

In [ ]:
ann = tf.keras.models.Sequential()

## Adding input layer and first hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))

## Adding the second hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))

## Adding output layer

In [ ]:
ann.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

## Training the ANN

### Compiling the ANN

In [ ]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on training set

In [ ]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 0s 1ms/step - loss: 0.5661 - accuracy: 0.7775
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4776 - accuracy: 0.7995
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4480 - accuracy: 0.8110
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4348 - accuracy: 0.8142
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4262 - accuracy: 0.8184
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4193 - accuracy: 0.8215
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4130 - accuracy: 0.8214
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4068 - accuracy: 0.8246
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4007 - accuracy: 0.8309
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3959 - accuracy: 0.8310
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3915 - accuracy: 0.8311
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3880 - accuracy: 0.8325
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3848 - accuracy: 0.8324
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3822 - accuracy: 0.8332
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3792 - accuracy: 0.8328
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3766 - accuracy: 0.8336
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3735 - accuracy: 0.8329
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3712 - accuracy: 0.8335
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3687 - accuracy: 0.8332
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3658 - accuracy: 0.8354
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3639 - accuracy: 0.8360
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3612 - accuracy: 0.8381
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3587 - accuracy: 0.8406
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3566 - accuracy: 0.8496
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3540 - accuracy: 0.8533
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3527 - accuracy: 0.8547
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3514 - accuracy: 0.8547
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3493 - accuracy: 0.8566
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3481 - accuracy: 0.8564
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3469 - accuracy: 0.8581
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3461 - accuracy: 0.8585
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3449 - accuracy: 0.8594
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3442 - accuracy: 0.8611
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3439 - accuracy: 0.8597
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3427 - accuracy: 0.8605
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3424 - accuracy: 0.8618
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3420 - accuracy: 0.8612
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3411 - accuracy: 0.8622
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3410 - accuracy: 0.8611
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3408 - accuracy: 0.8619
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3409 - accuracy: 0.8620
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8630
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3402 - accuracy: 0.8621
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3396 - accuracy: 0.8615
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3395 - accuracy: 0.8619
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8643
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8609
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8625
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3386 - accuracy: 0.8631
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8627
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3391 - accuracy: 0.8627
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8626
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8626
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8637
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8648
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8626
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8624
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8631
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8640
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8643
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8633
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8631
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8627
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8627
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8654
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8635
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8641
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8639
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8636
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8648
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8634
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8627
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8650
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8646
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8626
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8641
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8641
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8631
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8637
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8633
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8651
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8644
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8644
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8648
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8648
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8652
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8637
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8636
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8646
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8648
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3342 - accuracy: 0.8650
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8637
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8650
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8639
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8643
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8620
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3341 - accuracy: 0.8651
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8645
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8636
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3341 - accuracy: 0.8645

# Making predictions

## Predicting single result

In [ ]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])))

[[0.0333349]]

## Predicting test set results

In [ ]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

# Analysing the results

## Making the confusion matrix

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
acc = accuracy_score(y_test, y_pred)
print("Confusion matrix: 'n{0} \nAccuracy_score: {1}".format(cm, acc))

Confusion matrix: 'n[[1510   85]
 [ 197  208]]
Accuracy_score: 0.859